## DESİCİON Tree Classification
daha önceki verilere bakaraktan sonuçlara ulaşır bi classification yapar yeni bir veri geldiği zaman ona bakaraktan size o ilgili gruba her bir leaf grup ve onlara bakaraktan oraya oturtur ve size tahmin döner

In [27]:
import numpy as np
import pandas as pd
from sklearn import tree

df=pd.read_csv("C:/Users/hp/OneDrive/Masaüstü/Anlaşılır ekonomi/DecisionTreesClassificationDataSet.csv")
df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,Y,4,BS,N,N,Y
1,0,N,0,PhD,Y,Y,Y
2,5,Y,2,MS,N,Y,Y
3,3,N,1,BS,N,Y,Y
4,0,N,0,BS,N,N,N

In [28]:
#map kullanılarak boş hücreler veya geçersiz değer girilen hücreler NaN ile doldurulucaktır, bana şuandaki veri setimizde ihtiyacınız yok ama ilerde olabilir

In [29]:
duzeltme_mapping ={'Y':1,'N':0}
df['IseAlindi'] = df['IseAlindi'].map(duzeltme_mapping)
df['SuanCalisiyor?'] = df['SuanCalisiyor?'].map(duzeltme_mapping)
df['Top10 Universite?'] = df['Top10 Universite?'].map(duzeltme_mapping)
df['StajBizdeYaptimi?'] = df['StajBizdeYaptimi?'].map(duzeltme_mapping)
duzeltme_mapping_egitim  = {'BS': 0, 'MS':1, 'PhD': 2 }
df['Egitim Seviyesi'] = df['Egitim Seviyesi'].map(duzeltme_mapping_egitim)
df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,1,4,0,0,0,1
1,0,0,0,2,1,1,1
2,5,1,2,1,0,1,1
3,3,0,1,0,0,1,1
4,0,0,0,0,0,0,0

In [30]:
y= df['IseAlindi']
x=df.drop(['IseAlindi'],axis=1)

In [31]:
x.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?
0,11,1,4,0,0,0
1,0,0,0,2,1,1
2,5,1,2,1,0,1
3,3,0,1,0,0,1
4,0,0,0,0,0,0

In [34]:
clf = tree.DecisionTreeClassifier()
clf=clf.fit(x,y)

In [44]:
#2 yıl deneyimli stajı orada yapmış şuan işsiz
print(clf.predict([[2,0,1,0,0,1]]))

[1]

C:\Users\hp\conda\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [42]:
# toplam 2 yıllık iş deneyimi , 7 kez iş değiştirmiş çok iyi bir okul mezunu şuan çalışmıyor
print(clf.predict([[2,0,7,0,1,0]]))

[0]

C:\Users\hp\conda\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(